<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{information.name}}</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="assets/img/profile.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests" hidden>Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards" hidden>Awards</a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Tran Thi Truc
                    <span class="text-primary">Anh</span>
                </h1>
                <div class="subheading mb-5">
                    {{information.address}} {{information.phone}}
                    <a href="mailto:{{information.email}}">{{information.email}}</a>
                </div>
                <p class="lead mb-5">{{information.coverInfo}}</p>
                <div class="social-icons">
                    <a class="social-icon" href="{{social.linkedin}}" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="{{social.resume}}" target="_blank" title="download resume"><i
                            class="fa fa-file" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">QC Lead</h3>
                        <div class="subheading mb-3">Vinova Pte. Ltd</div>
                        <div>Localtion:...</div>
                        <ng-container>
                            <div>Responsibilities:
                                <ul *ngFor="let i of vinova.responsibilities">
                                    <li>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Goals:
                                <ul>
                                    <li *ngFor="let i of vinova.goals">
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Projects:
                                <span *ngFor="let i of vinova.projects">
                                    <a href="{{i.link}}" target="_blank">{{i.name}}</a>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2019 - Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">QC Engineer</h3>
                        <div class="subheading mb-3">AES Technologies</div>
                        <div>Localtion:....</div>
                        <ng-container>
                            <div>Responsibilities:
                                <ul *ngFor="let i of aes.responsibilities">
                                    <li>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Goals:
                                <ul>
                                    <li *ngFor="let i of aes.goals">
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Projects:
                                <span *ngFor="let i of aes.projects">
                                    <a href="{{i.link}}" target="_blank">{{i.name}}</a>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2018 - Aug 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Techical Support Staff</h3>
                        <div class="subheading mb-3">Thái Sơn Soft Co .,Ltd</div>
                        <div>Localtion:....</div>
                        <ng-container>
                            <div>Responsibilities:
                                <ul *ngFor="let i of thaison.responsibilities">
                                    <li>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Goals:
                                <ul>
                                    <li *ngFor="let i of thaison.goals">
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                Projects:
                                <span *ngFor="let i of thaison.projects">
                                    <a href="{{i.link}}" target="_blank">{{i.name}}</a>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Feb 2015 - Aug 2018</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Saigon University</h3>
                        <div class="subheading mb-3">Bachelor of degree</div>
                        <div>Business Administration and Management, General</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">August 2010 - May 2013</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                    <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                    <li class="list-inline-item"><i class="fab fa-react"></i></li>
                    <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    <li class="list-inline-item"><i class="fab fa-less"></i></li>
                    <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                    <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                    <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
    </div>
</body>